.Wrapper {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .TodoWrapper {
        width: 100%;
        max-height: 60rem;
    }

    .ButtonWrapper {
        flex-direction: row;
    }
}
