.Wrapper {
    margin: auto;
    max-width: 30rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Title {
        font-weight: 500;
        letter-spacing: 0.005em;
    }
    .Form {
        button {
            padding-bottom: 4rem;
            min-width: 10rem;
            min-height: 1rem;
        }
        textarea {
            resize: none;
        }
    }
}
