$background-color: #23272a;

$font-color: #f0ffffff;

$button-color: #40358d;
$button-shadow-color: #421c7c;
$button-disabled-color: #a9a9a9ff;
$button-disabled-shadow-color: #000000ff;
$button-hover-background: #524b5d;

$default-border-color: #282c34;
