$background-color: #23272A;

$font-color: #F0FFFFFF;

$button-color: #40358d;
$button-shadow-color: #421C7C;
$button-disabled-color: #A9A9A9FF;
$button-disabled-shadow-color: #000000FF;

$default-border-color: #282c34;


