header {
	min-height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.Img {
		left: 0;
		padding: 1rem;
		display: inline;
	}

	p {
      padding: 1rem;
		display: inline;
	}
}
