# NOTE: Requires **VS2019 16.3** or later

# Microsoft Managed Recommended Rules
# Description: These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your projects.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1001.severity = warning

dotnet_diagnostic.CA1009.severity = warning

dotnet_diagnostic.CA1016.severity = warning

dotnet_diagnostic.CA1033.severity = warning

dotnet_diagnostic.CA1049.severity = warning

dotnet_diagnostic.CA1060.severity = warning

dotnet_diagnostic.CA1061.severity = warning

dotnet_diagnostic.CA1063.severity = warning

dotnet_diagnostic.CA1065.severity = warning

dotnet_diagnostic.CA1301.severity = warning

dotnet_diagnostic.CA1400.severity = warning

dotnet_diagnostic.CA1401.severity = warning

dotnet_diagnostic.CA1403.severity = warning

dotnet_diagnostic.CA1404.severity = warning

dotnet_diagnostic.CA1405.severity = warning

dotnet_diagnostic.CA1410.severity = warning

dotnet_diagnostic.CA1415.severity = warning

dotnet_diagnostic.CA1821.severity = warning

dotnet_diagnostic.CA1900.severity = warning

dotnet_diagnostic.CA1901.severity = warning

dotnet_diagnostic.CA2002.severity = warning

dotnet_diagnostic.CA2100.severity = warning

dotnet_diagnostic.CA2101.severity = warning

dotnet_diagnostic.CA2108.severity = warning

dotnet_diagnostic.CA2111.severity = warning

dotnet_diagnostic.CA2112.severity = warning

dotnet_diagnostic.CA2114.severity = warning

dotnet_diagnostic.CA2116.severity = warning

dotnet_diagnostic.CA2117.severity = warning

dotnet_diagnostic.CA2122.severity = warning

dotnet_diagnostic.CA2123.severity = warning

dotnet_diagnostic.CA2124.severity = warning

dotnet_diagnostic.CA2126.severity = warning

dotnet_diagnostic.CA2131.severity = warning

dotnet_diagnostic.CA2132.severity = warning

dotnet_diagnostic.CA2133.severity = warning

dotnet_diagnostic.CA2134.severity = warning

dotnet_diagnostic.CA2137.severity = warning

dotnet_diagnostic.CA2138.severity = warning

dotnet_diagnostic.CA2140.severity = warning

dotnet_diagnostic.CA2141.severity = warning

dotnet_diagnostic.CA2146.severity = warning

dotnet_diagnostic.CA2147.severity = warning

dotnet_diagnostic.CA2149.severity = warning

dotnet_diagnostic.CA2200.severity = warning

dotnet_diagnostic.CA2202.severity = warning

dotnet_diagnostic.CA2207.severity = warning

dotnet_diagnostic.CA2212.severity = warning

dotnet_diagnostic.CA2213.severity = warning

dotnet_diagnostic.CA2214.severity = warning

dotnet_diagnostic.CA2216.severity = warning

dotnet_diagnostic.CA2220.severity = warning

dotnet_diagnostic.CA2229.severity = warning

dotnet_diagnostic.CA2231.severity = warning

dotnet_diagnostic.CA2232.severity = warning

dotnet_diagnostic.CA2235.severity = warning

dotnet_diagnostic.CA2236.severity = warning

dotnet_diagnostic.CA2237.severity = warning

dotnet_diagnostic.CA2238.severity = warning

dotnet_diagnostic.CA2240.severity = warning

dotnet_diagnostic.CA2241.severity = warning

dotnet_diagnostic.CA2242.severity = warning

# XML comments
dotnet_diagnostic.SA0001.severity = none

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none

# Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none

# Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = none

# Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = none

# Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# Do not combine fields
dotnet_diagnostic.SA1132.severity = none

# Do not combine attributes
dotnet_diagnostic.SA1133.severity = none

# Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = none

# Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# Fields should be private
dotnet_diagnostic.SA1401.severity = none

# File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = none

# Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = none

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# Element documentation should have summary
dotnet_diagnostic.SA1604.severity = none

# File should have header
dotnet_diagnostic.SA1633.severity = none

# File name should match first type name
dotnet_diagnostic.SA1649.severity = none
dotnet_style_parentheses_in_other_operators=never_if_unnecessary:silent
dotnet_diagnostic.CA1031.severity=silent
dotnet_diagnostic.CA1062.severity=silent
dotnet_diagnostic.CA1801.severity=silent
dotnet_diagnostic.CA1724.severity=silent

[*.cs]
csharp_using_directive_placement=outside_namespace:silent
dotnet_diagnostic.SA1200.severity=silent
dotnet_diagnostic.SA1210.severity=silent
dotnet_diagnostic.CA1812.severity=silent
dotnet_diagnostic.SA1313.severity=silent