@use '/Lab2/client/src/global/global.scss' as *;

.Button {
	color: $font-color;
	text-align: center;
	margin: 30px;
	font-size: 18px;
	height: 65px;
	width: 250px;
	line-height: 65px;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 0px 2px $button-shadow-color;
	background: $button-color;
	cursor: pointer;
	&:disabled {
		background-color: $button-disabled-color;
		box-shadow: 1px 1px 0px 2px $button-disabled-shadow-color;
	}
}
